header{
    position: fixed;
    height: 65px;
    width: 100%;
    background-color: rgba(32, 29, 29, 0.9);
    z-index: 10;
    
}
.logo{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
.header-left p{
    float: left;
    color: whitesmoke;
    font-size: 30px;
    margin: 15px 5px;
}
.header-right{
    float: right;
    background-color: rgba(255, 5, 5, 0.3);
    transition: all 0.5s;
    margin-right: 17px;
}
.header-right a{
    line-height: 65px;
    padding: 0px 35px;
    color: rgb(170, 152, 152);
    display: block;
    
}

.top-wrapper h1{
    font-size: 60px;
    letter-spacing: 5px;
    padding-bottom: 10px;
    opacity: 0.7;
}
.top-wrapper h2{
    font-size: 45px;
    letter-spacing: 5px;
    padding-bottom: 10px;
    opacity: 0.7;
}
.top-wrapper p{
    margin-bottom: 3px;
    opacity: 0.7;
    color: rgb(251, 255, 211);
}

.top-wrapper{
    background-image: url(https://wallpapercave.com/wp/4HtdFjn.jpg);
    background-size: cover;
    padding: 180px 0px 100px 0px ;
    color: white;
    text-align: center;
}
.btn-wrapper{
    margin: 20px 0;
  }
.btn-wrapper p{
    margin: 10px 0;
}
.btn{
    padding: 10px 24px;
    display: inline-block;
    border-radius: 4px;
    opacity: 0.7;
    color:whitesmoke;
    }
.btn:hover{
    opacity: 1;
}
.twitter{
    background-color: #55acee;
    margin-left: 15px;
}
.facebook{
    background-color: #3b5998;
    margin-right: 15px;
}
.fa{
    margin-right: 5px;
}
.role-wrapper{
    height: 680px;
    text-align: center;
    background-color: #000000;
    color: whitesmoke;
}
.role{
    float: left;
    width: 33%;
}

.heading{
    color: #5f5d60;
    padding-top: 60px;
    padding-bottom: 30px;
}
.heading h2{
    font-weight: normal;
    font-size: 35px;
    color: whitesmoke;
}
.txt-contents{
    padding-top: 10px;
    font-size: 15px;
    color: #b3aeb5;
    display: inline-block;
    width: 85%;
  }
  .message-wrapper {            
  border-bottom: 1px solid #eee;            
 padding-bottom: 80px;            
 text-align: center;
 width : 100%;           
  }            
 .message-wrapper h2{
     color: rgb(12, 12, 12)
 } 
.message {            
padding: 15px 40px;            
background-color: #5dca88;            
cursor: pointer;            
 box-shadow: 0 7px #1a7940;            
} 
 .message:active {            
 position: relative;            
top: 7px;            
box-shadow: none;            
 }
 .footer {
background-color: rgba(32, 29, 29, 0.9);
color : #fff;
height: 80px;   
padding: 40px 40px;
 }
 .footer-logo{
    font-size: 32px;
    float: left;
  }
  .footer-list{
    float: right;

  }
  .footer-list li{
    padding-bottom: 20px;
  }
  li {
      list-style: none;
  }
